html {
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif; }

body {
  background-color: black;
  color: white;
  height: auto;
  font-size: 0.75rem;
  height: 100%; }
  body header {
    position: absolute;
    width: 100%;
    padding-left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; }
    body header .headerList {
      display: inherit;
      margin-left: 18px; }
      body header .headerList .listItem {
        margin: 0 18px 0 0;
        transition: all 0.2s ease;
        cursor: pointer; }
        body header .headerList .listItem:hover {
          color: #5773ff; }
      body header .headerList .active {
        color: #5773ff; }
    body header .searchBar {
      background-color: #303030;
      border-radius: 10px;
      padding: 9px 18px;
      display: inherit;
      justify-content: space-between;
      border: 1px solid white; }
      body header .searchBar img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        margin-right: 6px; }
      body header .searchBar .searchText {
        font-size: 0.65rem; }
    body header .hamburgerBtn {
      display: none; }
    body header .profileSection {
      display: inherit; }
      body header .profileSection .headerIcons {
        cursor: pointer;
        margin: 0 12px 0 0;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); }
      body header .profileSection .profile {
        cursor: pointer;
        display: inherit;
        background-color: #303030;
        justify-content: center;
        align-items: center;
        margin: 0 18px 0 0;
        border-radius: 10px; }
        body header .profileSection .profile .profilePhoto {
          width: 35px;
          height: 35px;
          object-fit: cover;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px; }
        body header .profileSection .profile .userName {
          padding: 6px 12px; }
  body nav {
    background-color: #18181d;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 250px;
    padding: 10px 0 10px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    body nav .navLogo {
      margin: 18px 0; }
    body nav .navList {
      margin: 0 0 10px 0; }
      body nav .navList .navListItem {
        margin: 8px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: all 0.2s ease; }
        body nav .navList .navListItem img {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
          margin: 0 10px 0 0;
          transition: all 0.2s ease; }
        body nav .navList .navListItem:hover {
          color: #5773ff; }
          body nav .navList .navListItem:hover img {
            filter: invert(39%) sepia(100%) saturate(1801%) hue-rotate(215deg) brightness(99%) contrast(110%); }
      body nav .navList .active {
        color: #5773ff;
        border-right: 2px solid #5773ff; }
        body nav .navList .active img {
          filter: invert(39%) sepia(100%) saturate(1801%) hue-rotate(215deg) brightness(99%) contrast(110%); }
      body nav .navList .navListTitle {
        text-transform: uppercase;
        margin-bottom: 15px; }
    body nav .playingOnDevice {
      cursor: pointer;
      padding: 0 35px 0 0; }
      body nav .playingOnDevice .deviceName {
        display: flex;
        align-items: center;
        background-color: #202026;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
        body nav .playingOnDevice .deviceName p {
          margin: 0 0 0 12px; }
        body nav .playingOnDevice .deviceName img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-top-left-radius: 10px; }
      body nav .playingOnDevice .playingOn {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        background-color: #050505;
        justify-content: center;
        align-items: center;
        padding: 4px 0; }
        body nav .playingOnDevice .playingOn p {
          transition: all 0.3s ease; }
        body nav .playingOnDevice .playingOn img {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
          margin: 0 6px 0 0;
          transition: all 0.2s ease; }
        body nav .playingOnDevice .playingOn:hover img {
          filter: invert(39%) sepia(100%) saturate(1801%) hue-rotate(215deg) brightness(99%) contrast(110%); }
        body nav .playingOnDevice .playingOn:hover p {
          color: #5773ff; }
  body main {
    margin: 0 0 0 250px;
    padding: 80px 18px 18px 18px;
    min-height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(24, 24, 29, 0.5)), url("../img/metallica2.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease; }
    body main .recommended .trending {
      font-size: 0.75rem;
      margin: 0 0 20px 0; }
    body main .recommended .trendingTitle {
      font-size: 3rem;
      font-weight: 700;
      padding: 0 0 0 15px;
      line-height: 50px; }
    body main .recommended .authorAndPlays {
      display: flex;
      padding: 0 0 0 15px;
      margin: 0 0 20px 0; }
      body main .recommended .authorAndPlays .trendingBand {
        margin: 0 12px 0 0;
        cursor: pointer; }
        body main .recommended .authorAndPlays .trendingBand:hover {
          text-decoration: underline; }
      body main .recommended .authorAndPlays .trendingPlays {
        color: #ccc; }
    body main .recommended .trendingButtons {
      padding: 0 0 0 15px;
      display: flex;
      justify-content: start;
      align-items: center; }
      body main .recommended .trendingButtons .listenNow {
        padding: 10px 20px;
        background-color: #5773ff;
        border-radius: 35px;
        font-weight: 600;
        color: white;
        cursor: pointer;
        border: none;
        transition: all 0.3s ease; }
        body main .recommended .trendingButtons .listenNow:hover {
          background-color: #2424c6; }
      body main .recommended .trendingButtons .heartContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        border-radius: 50%;
        margin-left: 15px;
        cursor: pointer; }
        body main .recommended .trendingButtons .heartContainer img {
          filter: invert(39%) sepia(100%) saturate(1801%) hue-rotate(215deg) brightness(99%) contrast(110%);
          width: 32px;
          padding: 8px; }
    body main .mainContainer {
      display: grid;
      justify-content: center;
      grid-template-columns: 25% 40% 28%;
      gap: 15px;
      margin-top: 20px; }
      body main .mainContainer .container1 {
        background-color: #202026;
        border-radius: 5px;
        grid-column: 1 / span 2;
        height: 170px; }
        body main .mainContainer .container1 .topArtists {
          margin: 18px;
          display: flex;
          justify-content: space-between; }
          body main .mainContainer .container1 .topArtists p {
            transition: all 0.3s ease; }
            body main .mainContainer .container1 .topArtists p:nth-child(2) {
              cursor: pointer; }
              body main .mainContainer .container1 .topArtists p:nth-child(2):hover {
                color: #5773ff; }
        body main .mainContainer .container1 .artists {
          display: flex;
          justify-content: space-between;
          padding: 0 18px;
          cursor: pointer; }
          body main .mainContainer .container1 .artists .artist {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10px; }
            body main .mainContainer .container1 .artists .artist .artistName {
              text-align: center; }
            body main .mainContainer .container1 .artists .artist img {
              width: 60px;
              height: 60px;
              object-fit: cover;
              border-radius: 10px;
              transition: all 0.4s ease; }
            body main .mainContainer .container1 .artists .artist .artistsPlays {
              font-size: 0.65rem;
              color: #ccc; }
            body main .mainContainer .container1 .artists .artist:hover img {
              transform: scale(1.05);
              overflow: hidden; }
      body main .mainContainer .container2 {
        background-color: #202026;
        grid-row: 1 / span 2;
        grid-column: 3;
        border-radius: 5px; }
        body main .mainContainer .container2 .playerTitle {
          padding: 18px 18px 0 18px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px; }
          body main .mainContainer .container2 .playerTitle img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            cursor: pointer;
            transition: all 0.3s ease; }
            body main .mainContainer .container2 .playerTitle img:hover {
              filter: invert(39%) sepia(100%) saturate(1801%) hue-rotate(215deg) brightness(99%) contrast(110%); }
        body main .mainContainer .container2 .playerMusic {
          padding: 10px 18px 10px 18px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          body main .mainContainer .container2 .playerMusic .playerSongName {
            font-size: 1.25rem;
            font-weight: 600;
            text-align: center; }
          body main .mainContainer .container2 .playerMusic .playerSongArtist {
            color: #ccc;
            cursor: pointer; }
            body main .mainContainer .container2 .playerMusic .playerSongArtist:hover {
              text-decoration: underline; }
          body main .mainContainer .container2 .playerMusic .playerSongPlaylist {
            font-size: 0.6rem;
            color: #ccc;
            margin-bottom: 10px;
            cursor: pointer; }
            body main .mainContainer .container2 .playerMusic .playerSongPlaylist:hover {
              text-decoration: underline; }
          body main .mainContainer .container2 .playerMusic img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-bottom: 10px; }
          body main .mainContainer .container2 .playerMusic .playerDuration {
            display: flex;
            justify-content: space-between; }
            body main .mainContainer .container2 .playerMusic .playerDuration .pastMinutes {
              margin-right: 6px; }
            body main .mainContainer .container2 .playerMusic .playerDuration .lastMinutes {
              margin-left: 6px; }
            body main .mainContainer .container2 .playerMusic .playerDuration input {
              cursor: pointer; }
        body main .mainContainer .container2 .playerControls {
          background-color: #5773ff;
          height: auto; }
          body main .mainContainer .container2 .playerControls .controls {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px 0 13px 0; }
            body main .mainContainer .container2 .playerControls .controls img {
              filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
              width: 20px;
              cursor: pointer; }
            body main .mainContainer .container2 .playerControls .controls .playControl {
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 15px;
              background-color: white;
              border-radius: 10px; }
              body main .mainContainer .container2 .playerControls .controls .playControl .playIconControl {
                filter: invert(39%) sepia(100%) saturate(1801%) hue-rotate(215deg) brightness(99%) contrast(110%); }
          body main .mainContainer .container2 .playerControls .lyrics {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer; }
            body main .mainContainer .container2 .playerControls .lyrics img {
              filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
              transition: all 0.3s ease; }
            body main .mainContainer .container2 .playerControls .lyrics p {
              text-transform: uppercase;
              font-weight: 600;
              padding-bottom: 6px; }
            body main .mainContainer .container2 .playerControls .lyrics:hover img {
              transform: translateY(-4px); }
      body main .mainContainer .container3 {
        background-color: #202026;
        height: auto;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 18px;
        font-size: 0.8rem;
        font-weight: 500; }
        body main .mainContainer .container3 .genresTitle {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px; }
          body main .mainContainer .container3 .genresTitle p {
            transition: all 0.3s ease; }
            body main .mainContainer .container3 .genresTitle p:nth-child(2) {
              cursor: pointer; }
              body main .mainContainer .container3 .genresTitle p:nth-child(2):hover {
                color: #5773ff; }
        body main .mainContainer .container3 .genres1 {
          display: grid;
          grid-template-columns: 50% 50%;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px; }
          body main .mainContainer .container3 .genres1 .genre1_one {
            padding: 6px 0;
            text-align: center;
            background-color: #476a8a;
            border-radius: 10px;
            cursor: pointer; }
          body main .mainContainer .container3 .genres1 .genre1_two {
            padding: 6px 0;
            text-align: center;
            background-color: #a69984;
            border-radius: 10px;
            cursor: pointer; }
        body main .mainContainer .container3 .genres2 {
          display: grid;
          grid-template-columns: 65% 35%;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px; }
          body main .mainContainer .container3 .genres2 .genre2_one {
            padding: 6px 0;
            text-align: center;
            background-color: #a24c34;
            border-radius: 10px;
            cursor: pointer; }
          body main .mainContainer .container3 .genres2 .genre2_two {
            padding: 6px 0;
            text-align: center;
            background-color: #0d4045;
            border-radius: 10px;
            cursor: pointer; }
        body main .mainContainer .container3 .genres3 {
          display: grid;
          grid-template-columns: 35% 65%;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px; }
          body main .mainContainer .container3 .genres3 .genre3_one {
            padding: 6px 0;
            text-align: center;
            background-color: #a67894;
            border-radius: 10px;
            cursor: pointer; }
          body main .mainContainer .container3 .genres3 .genre3_two {
            padding: 6px 0;
            text-align: center;
            background-color: #5547a5;
            border-radius: 10px;
            cursor: pointer; }
      body main .mainContainer .container4 {
        background-color: #202026;
        height: auto;
        border-radius: 5px;
        padding: 18px; }
        body main .mainContainer .container4 .topChartsTitle {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px; }
          body main .mainContainer .container4 .topChartsTitle p {
            transition: all 0.3s ease; }
            body main .mainContainer .container4 .topChartsTitle p:nth-child(2) {
              cursor: pointer; }
              body main .mainContainer .container4 .topChartsTitle p:nth-child(2):hover {
                color: #5773ff; }
        body main .mainContainer .container4 .song {
          display: grid;
          grid-template-columns: 5% 15% 50% 10% 10% 10%;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px; }
          body main .mainContainer .container4 .song .songNumber {
            text-align: center; }
          body main .mainContainer .container4 .song .img {
            display: flex;
            justify-content: center; }
            body main .mainContainer .container4 .song .img img {
              width: 35px;
              height: 35px;
              object-fit: cover;
              border-radius: 10px; }
          body main .mainContainer .container4 .song .songDuration {
            text-align: center; }
          body main .mainContainer .container4 .song .songArtistName .artistName {
            font-size: 0.65rem;
            color: #ccc;
            cursor: pointer; }
            body main .mainContainer .container4 .song .songArtistName .artistName:hover {
              text-decoration: underline; }
          body main .mainContainer .container4 .song .playIcon {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 4px;
            width: 20px;
            height: 20px;
            cursor: pointer; }
            body main .mainContainer .container4 .song .playIcon img {
              filter: invert(39%) sepia(100%) saturate(1801%) hue-rotate(215deg) brightness(99%) contrast(110%); }
          body main .mainContainer .container4 .song .addToPlaylistIcon {
            display: flex;
            justify-content: center;
            cursor: pointer; }
            body main .mainContainer .container4 .song .addToPlaylistIcon img {
              width: 20px;
              height: 20px;
              filter: invert(90%) sepia(8%) saturate(122%) hue-rotate(164deg) brightness(80%) contrast(91%); }

@media (max-width: 1100px) {
  body header {
    padding-left: 200px; }
  body nav {
    width: 200px;
    padding: 18px 15px; }
    body nav .playingOnDevice {
      padding: 0; }
  body main {
    margin: 0 0 0 200px; } }

@media (max-width: 1000px) {
  body header {
    padding: 0 18px; }
    body header .hamburgerBtn {
      display: block;
      cursor: pointer; }
      body header .hamburgerBtn img {
        width: 30px;
        filter: invert(99%) sepia(1%) saturate(17%) hue-rotate(109deg) brightness(104%) contrast(100%); }
  body nav {
    position: fixed;
    left: -100%;
    top: 0;
    transition: all 0.3s ease; }
  body main {
    margin: 0; } }

@media (max-width: 800px) {
  body main {
    padding: 80px 12px 130px 12px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; }
    body main .mainContainer {
      grid-template-columns: 100%; }
      body main .mainContainer .container1 {
        grid-column: 1; }
      body main .mainContainer .container2 {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 10; }
        body main .mainContainer .container2 .playerTitle {
          display: none; }
        body main .mainContainer .container2 .playerMusic {
          display: grid;
          grid-template-columns: 15% 85%;
          background-color: #18181d; }
          body main .mainContainer .container2 .playerMusic img {
            width: 50px;
            height: 50px;
            grid-column: 1;
            margin: 0;
            grid-row: 1 / span 2; }
          body main .mainContainer .container2 .playerMusic .playerSongName, body main .mainContainer .container2 .playerMusic .playerSongArtist {
            grid-column: 2; }
          body main .mainContainer .container2 .playerMusic .playerSongName {
            font-size: 1rem;
            text-align: start;
            align-self: end; }
          body main .mainContainer .container2 .playerMusic .playerSongPlaylist, body main .mainContainer .container2 .playerMusic .playerDuration {
            display: none; }
        body main .mainContainer .container2 .playerControls .controls {
          padding: 5px 0 3px 0; }
          body main .mainContainer .container2 .playerControls .controls img {
            width: 12px; }
        body main .mainContainer .container2 .playerControls .lyrics {
          display: none; }
  body main::-webkit-scrollbar {
    display: none; } }

@media (max-width: 550px) {
  body header {
    position: unset; }
    body header .headerList {
      display: none; }
    body header .searchBar {
      background-color: #202026;
      padding: 10px; }
      body header .searchBar .searchText {
        display: none; }
      body header .searchBar img {
        margin: 0; }
  body main {
    padding: 24px 12px 130px 12px; }
    body main .mainContainer .container1 .artists .artist:nth-child(4) {
      display: none; }
    body main .mainContainer .container1 .artists .artist:nth-child(2) {
      display: none; } }
