@import 'base/variables.scss';
html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $main-font;
}
@import 'components/index.scss';
@import 'components/mediaqueries.scss';