// Colors

$bg-color: #18181d;
$button-color: #5773ff;
$bg-color2: #202026;
$bg-color3: #050505;
$icon-color: #b2b6b9;

$secundary-color: #476a8a;
$secundary-color2: #a69984;
$secundary-color3: #a24c34;
$secundary-color4: #0d4045;
$secundary-color5: #a67894;
$secundary-color6: #5547a5;

// Fonts

$main-font: 'Poppins', sans-serif;

// Filters

$filter-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);